In [5]:
import pandas as pd
import numpy as np
# import cudf

pandas_df = pd.DataFrame({'a': np.random.randint(0, 100000000, size=100000000),
                          'b': np.random.randint(0, 100000000, size=100000000)})
                          
# cudf_df = cudf.DataFrame.from_pandas(pandas_df)

In [6]:
%timeit pandas_df.a.mean()

126 ms ± 729 µs per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [7]:
pandas_df

                 a         b
0         12852827  25551781
1         68541672  33549943
2         98828985  81110614
3         94848712  26053099
4         48030751  87336090
...            ...       ...
99999995  72246940  47524269
99999996  98780082  46945188
99999997  76346338  19058264
99999998  46063251  71353855
99999999  58484837  34613355

[100000000 rows x 2 columns]